@media screen and (min-width:767px){
.sliderBike {
  margin: auto;
  text-align: center;
  display: block;
  padding: 50px 40px 30px 40px;
  width: 80vw;
  height: 65vh;
  object-fit: fill;
}

.flex {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.imageShop {
  width: 50%;
  height: 60vh;
  padding: 0 30px 50px 0;
  object-fit: fill;
}

.shop {
  width: 65vw;
  height: 50vh;
  padding-left: 70px;
  padding-top: 30px;
}

.flexFlow {
  flex-flow: column;
  position: relative;
}

.aboutusTitle {
  height: 50px;
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.aboutuIntroductionText {
  padding: 10px 0 0 0;
  font-size: 20px;
}

.contact {
  font-size: 25px;
  font-weight: bold;
}

.tel {
  margin-top: 10px;
  font-size: 20px;
}

.fax {
  font-size: 20px;
}
.contactPosition {
  text-align: center;
  background-color: black;
  color: aliceblue;
  width: 100%;
  bottom: 0;
}

button.instagram {
  border: none;
  background: transparent;
}

button.instagram:hover {
  cursor: pointer;
  transform: scale(1.1);
}
}

@media screen and (max-width:768px){
  img.sliderBike {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    padding: 20px 0 30px 0;
    object-fit: fill;
  }

  .flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  
  .imageShop {
    width: 80%;
    height: 50vh;
    padding: 30px 0;
    margin: 0 auto;
    order: 2;
    object-fit: fill;

  }
  
  .aboutusTitle {
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 0 0 0 20px;
    height: 50px;
    order: 1;
  }
  
  .aboutuIntroductionText {
    padding: 10px 0 20px 0;
    font-size: 18px;
    border-bottom: 1px solid;
  }
  
  .contact {
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
  }
  
  .tel {
    margin-top: 10px;
    font-size: 20px;
    color: aliceblue;

  }
  
  .fax {
    font-size: 20px;
    color: aliceblue;
  }
  .contactPosition {
    background-color: black;
    text-align: center;
    right: 50px;
    bottom: 0;
  }
  button.instagram {
    border: none;
    background: transparent;
  }
  
  button.instagram:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  }
