.sliderBike {
    margin: auto;
    text-align: center;
    display: block;
    padding:  0 40px;
    width: 90vw;
    height: 70vh;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.ABOUT-US {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 20px 40px 20px 40px;
    padding: 10px 40px ;
}

.shop {
    width: 65vw;
    height: 50vh;
    padding-left: 70px;
}

.flexFlow {
    flex-flow: column;
    padding: 0 40px 0 0;
    margin: 0 0 20px 20px;
}

.aboutusTitle {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 5px 10px ;
}